body{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    text-align: center;
    background-color: antiquewhite;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

p{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.5em;
    margin: 0 10px 0 10px;
}

#guesscontainer{
    display: grid;
    width: 100%;
    justify-content: center;
    align-items: center;
    justify-items: center;
    grid-template-rows: repeat(6, 60px);
    grid-template-columns: repeat(5, 60px);
}

#guesscontainer h1{
    color: white;
}

.letter{
    border: 1px solid black;
    border-radius: 3px;
    width: 50px;
    height: 50px;
    margin: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: white;
}

.green{background-color: green; border: none;}
.yellow{background-color: rgb(168, 168, 17); border: none;}
.gray{background-color: gray; border: none;}

#inputcontainer {
    padding: 5px;
}